@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-image: linear-gradient(178deg, #191918 0.52%, #141514 98.52%);
  background-image: -webkit-linear-gradient(
    178deg,
    #191918 0.52%,
    #141514 98.52%
  );
  width: 100vw;
  height: 3000px;
}
